@font-face {
  font-family: FiraCode;
  src: url(../assets/fonts/FiraCode.ttf);
}

@font-face {
  font-family: Fraunces;
  src: url(../assets/fonts/Fraunces.ttf);
}

@font-face {
  font-family: BricolageGrotesque;
  src: url(../assets/fonts/BricolageGrotesque.ttf);
}

@font-face {
  font-family: FuturaNow;
  src: url(../assets/fonts/FuturaNow.ttf);
}