@media (prefers-color-scheme: light) {
    :root {
        --bg-primary: white;
        --text-primary: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-primary: #080808;
        --text-primary: #f0f0f0;
    }
}